{% load staticfiles %}
{% if flows %}<div class="flow">
	<a href="/{{ ecncategoria.slug|escape }}/1/"><div class="alert alert-dismissible alert-warning"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ ecncategoria.titulo|escape }}">{{ ecncategoria.titulo|escape }}</h4></div></a>
	{% if economia %}
	{% for economia in economia %}
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading"><a href="/{{ economia.categoria.slug|escape }}/{{ economia.id }}/{{ economia.slug|escape }}">{{ economia.titulo|escape }}</a></h3>
			<p>{{ economia.contenido|escape|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ economia.fechacreado }}</b></span><br><a href="/autor/{{ economia.autor|escape }}/1/"><span>{{ economia.autor.user.first_name|escape }} {{ economia.autor.user.last_name|escape }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>{% endif %}
<div class="flow">
	<a href="/{{ ecncategoria.slug }}/1/"><div class="alert alert-dismissible alert-warning"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ ecncategoria.titulo }}">{{ ecncategoria.titulo }}</h4></div></a>
	{% if economia %}
	{% for economia in economia %}
	<div class="media">
		<a class="pull-left" href="/autor/{{ economia.autor }}/1/"><div class="avatar-60" style="background-image: url('/static/media/autor/{{ economia.autor }}.jpg');"></div></a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/{{ economia.categoria.slug }}/{{ economia.id }}/{{ economia.slug }}">{{ economia.titulo }}</a></h4>
		</div>
		<div class="media-footer">
			<p>{{ economia.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ economia.fechacreado }}</b></span><br><a href="/autor/{{ economia.autor }}/1/"><span>{{ economia.autor.user.first_name }} {{ economia.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>