{% load staticfiles %}
{% if flows %}<div class="flow">
	<a href="/{{ ecocategoria.slug|escape }}/1/"><div class="alert alert-dismissible alert-info"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ ecocategoria.titulo|escape }}">{{ ecocategoria.titulo|escape }}</h4></div></a>
	{% if ecosbogota %}
	{% for ecosbogota in ecosbogota %}
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading"><a href="/{{ ecosbogota.categoria.slug|escape }}/{{ ecosbogota.id }}/{{ ecosbogota.slug|escape }}">{{ ecosbogota.titulo|escape }}</a></h3>
			<p>{{ ecosbogota.contenido|escape|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ ecosbogota.fechacreado }}</b></span><br><a href="/autor/{{ ecosbogota.autor|escape }}/1/"><span>{{ ecosbogota.autor.user.first_name|escape }} {{ ecosbogota.autor.user.last_name|escape }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>{% endif %}
<div class="flow">
	<a href="/{{ ecocategoria.slug }}/1/"><div class="alert alert-dismissible alert-info"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ ecocategoria.titulo }}">{{ ecocategoria.titulo }}</h4></div></a>
	{% if ecosbogota %}
	{% for ecosbogota in ecosbogota %}
	<div class="media">
		<a class="pull-left" href="/autor/{{ ecosbogota.autor }}/1/"><div class="avatar-60" style="background-image: url('/static/media/autor/{{ ecosbogota.autor }}.jpg');"></div></a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/{{ ecosbogota.categoria.slug }}/{{ ecosbogota.id }}/{{ ecosbogota.slug }}">{{ ecosbogota.titulo }}</a></h4>
		</div>
		<div class="media-footer">
			<p>{{ ecosbogota.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ ecosbogota.fechacreado }}</b></span><br><a href="/autor/{{ ecosbogota.autor }}/1/"><span>{{ ecosbogota.autor.user.first_name }} {{ ecosbogota.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>