{% load staticfiles %}
{% if flow %}<div class="flow">
	<a href="/{{ entcategoria.slug|escape }}/1/"><div class="alert alert-dismissible alert-danger"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ entcategoria.titulo|escape }}">{{ entcategoria.titulo|escape }}</h4></div></a>
	{% if entrevista %}
	{% for entrevista in entrevista %}
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading"><a href="/{{ entrevista.categoria.slug|escape }}/{{ entrevista.id }}/{{ entrevista.slug|escape }}">{{ entrevista.titulo|escape }}</a></h3>
			<p>{{ entrevista.contenido|escape|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ entrevista.fechacreado }}</b></span><br><a href="/autor/{{ entrevista.autor|escape }}/1/"><span>{{ entrevista.autor.user.first_name|escape }} {{ entrevista.autor.user.last_name|escape }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>{% endif %}
<div class="flow">
	<a href="/{{ entcategoria.slug }}/1/"><div class="alert alert-dismissible alert-danger"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ entcategoria.titulo }}">{{ entcategoria.titulo }}</h4></div></a>
	{% if entrevista %}
	{% for entrevista in entrevista %}
	<div class="media">
		<a class="pull-left" href="/autor/{{ entrevista.autor }}/1/"><div class="avatar-60" style="background-image: url('/static/media/autor/{{ entrevista.autor }}.jpg');"></div></a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/{{ entrevista.categoria.slug }}/{{ entrevista.id }}/{{ entrevista.slug }}">{{ entrevista.titulo }}</a></h4>
		</div>
		<div class="media-footer">
			<p>{{ entrevista.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ entrevista.fechacreado }}</b></span><br><a href="/autor/{{ entrevista.autor }}/1/"><span>{{ entrevista.autor.user.first_name }} {{ entrevista.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>