{% load staticfiles %}
{% if flow %}<div class="flow">
	<a href="/{{ intcategoria.slug|escape }}/1/"><div class="alert alert-dismissible alert-success"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ intcategoria.titulo|escape }}">{{ intcategoria.titulo|escape }}</h4></div></a>
	{% if internacional %}
	{% for internacional in internacional %}
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading"><a href="/{{ internacional.categoria.slug|escape }}/{{ internacional.id }}/{{ internacional.slug|escape }}">{{ internacional.titulo|escape }}</a></h3>
			<p>{{ internacional.contenido|escape|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ internacional.fechacreado }}</b></span><br><a href="/autor/{{ internacional.autor|escape }}/1/"><span>{{ internacional.autor.user.first_name|escape }} {{ internacional.autor.user.last_name|escape }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>{% endif %}
<div class="flow">
	<a href="/{{ intcategoria.slug }}/1/"><div class="alert alert-dismissible alert-success"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ intcategoria.titulo }}">{{ intcategoria.titulo }}</h4></div></a>
	{% if internacional %}
	{% for internacional in internacional %}
	<div class="media">
		<a class="pull-left" href="/autor/{{ internacional.autor }}/1/"><div class="avatar-60" style="background-image: url('/static/media/autor/{{ internacional.autor }}.jpg');"></div></a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/{{ internacional.categoria.slug }}/{{ internacional.id }}/{{ internacional.slug }}">{{ internacional.titulo }}</a></h4>
		</div>
		<div class="media-footer">
			<p>{{ internacional.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ internacional.fechacreado }}</b></span><br><a href="/autor/{{ internacional.autor }}/1/"><span>{{ internacional.autor.user.first_name }} {{ internacional.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>