<div>
	<ul class="nav nav-pills nav-stacked">
		<li>
			<div class="media">
				<div class="media-left">
					<a href="/autor/{{ user }}/1/"><div class="avatar-30" style="background-image: url(/static/media/autor/{{ user }}.jpg); float: left;" ></div></a>
				</div>
				<div class="media-body">
					<p><a href="/autor/{{ user }}/1/" class="text-primary">{{ user.first_name }} {{ user.last_name }}</a></p>
				</div>
			</div>
		</li>
		<li><a href="/backoffice/">Mis artículos</a></li>
		<li><a href="/backoffice/">Comentarios</a></li>
		<li><a href="/backoffice/">Mis seguidores</a></li>
		<li><a href="/backoffice/">Los que sigo</a></li>
	</ul>
</div>