{% load staticfiles %}
{% if flow %}<div class="flow">
	<a href="/{{ opicategoria.slug }}/1/"><div class="alert alert-dismissible alert-danger"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ opicategoria.titulo }}">{{ opicategoria.titulo }}</div></h4></a>
	{% if opinion %}
	{% for opinion in opinion %}
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading"><a href="/{{ opinion.categoria.slug }}/{{ opinion.id }}/{{ opinion.slug }}">{{ opinion.titulo }}</a></h3>
			<p>{{ opinion.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ opinion.fechacreado }}</b></span><br><a href="/autor/{{ opinion.autor }}/1/"><span>{{ opinion.autor.user.first_name }} {{ opinion.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>{% endif %}
<div class="flow">
	<a href="/{{ opicategoria.slug }}/1/"><div class="alert alert-dismissible alert-danger"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ opicategoria.titulo }}">{{ opicategoria.titulo }}</h4></div></a>
	{% if opinion %}
	{% for opinion in opinion %}
	<div class="media">
		<a class="pull-left" href="/autor/{{ opinion.autor }}/1/"><div class="avatar-60" style="background-image: url('/static/media/autor/{{ opinion.autor }}.jpg');"></div></a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/{{ opinion.categoria.slug }}/{{ opinion.id }}/{{ opinion.slug }}">{{ opinion.titulo }}</a></h4>
		</div>
		<div class="media-footer">
			<p>{{ opinion.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ opinion.fechacreado }}</b></span><br><a href="/autor/{{ opinion.autor }}/1/"><span>{{ opinion.autor.user.first_name }} {{ opinion.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>