{% load staticfiles %}
{% if flow %}<div class="flow">
	<a href="/{{ percategoria.slug }}/1/"><div class="alert alert-dismissible alert-danger"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ percategoria.titulo }}">{{ percategoria.titulo }}</h4></div></a>
	{% if personaje %}
	{% for personaje in personaje %}
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading"><a href="/{{ personaje.categoria.slug }}/{{ personaje.id }}/{{ personaje.slug }}">{{ personaje.titulo }}</a></h3>
			<p>{{ personaje.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ personaje.fechacreado }}</b></span><br><a href="/autor/{{ personaje.autor }}/1/"><span>{{ personaje.autor.user.first_name }} {{ personaje.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>{% endif %}
<div class="flow">
	<a href="/{{ percategoria.slug }}/1/"><div class="alert alert-dismissible alert-danger"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ percategoria.titulo }}">{{ percategoria.titulo }}</h4></div></a>
	{% if personaje %}
	{% for personaje in personaje %}
	<div class="media">
		<a class="pull-left" href="/autor/{{ personaje.autor }}/1/"><div class="avatar-60" style="background-image: url('/static/media/autor/{{ personaje.autor }}.jpg');"></div></a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/{{ personaje.categoria.slug }}/{{ personaje.id }}/{{ personaje.slug }}">{{ personaje.titulo }}</a></h4>
		</div>
		<div class="media-footer">
			<p>{{ personaje.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ personaje.fechacreado }}</b></span><br><a href="/autor/{{ personaje.autor }}/1/"><span>{{ personaje.autor.user.first_name }} {{ personaje.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>