{% load staticfiles %}
{% if flow %}<div class="flow">
	<a href="/{{ teccategoria.slug }}/1/"><div class="alert alert-dismissible alert-success"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ teccategoria.titulo }}">{{ teccategoria.titulo }}</h4></div></a>
	{% if tecnologia %}
	{% for tecnologia in tecnologia %}
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading"><a href="/{{ tecnologia.categoria.slug }}/{{ tecnologia.id }}/{{ tecnologia.slug }}">{{ tecnologia.titulo }}</a></h3>
			<p>{{ tecnologia.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ tecnologia.fechacreado }}</b></span><br><a href="/autor/{{ tecnologia.autor }}/1/"><span>{{ tecnologia.autor.user.first_name }} {{ tecnologia.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>{% endif %}
<div class="flow">
	<a href="/{{ teccategoria.slug }}/1/"><div class="alert alert-dismissible alert-success"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ teccategoria.titulo }}">{{ teccategoria.titulo }}</h4></div></a>
	{% if tecnologia %}
	{% for tecnologia in tecnologia %}
	<div class="media">
		<a class="pull-left" href="/autor/{{ tecnologia.autor }}/1/"><div class="avatar-60" style="background-image: url('/static/media/autor/{{ tecnologia.autor }}.jpg');"></div></a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/{{ tecnologia.categoria.slug }}/{{ tecnologia.id }}/{{ tecnologia.slug }}">{{ tecnologia.titulo }}</a></h4>
		</div>
		<div class="media-footer">
			<p>{{ tecnologia.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ tecnologia.fechacreado }}</b></span><br><a href="/autor/{{ tecnologia.autor }}/1/"><span>{{ tecnologia.autor.user.first_name }} {{ tecnologia.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>