{% load staticfiles %}
{% if flow %}<div class="flow">
	<a href="/{{ vidcategoria.slug }}/1/"><div class="alert alert-dismissible alert-success"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ vidcategoria.titulo }}">{{ vidcategoria.titulo }}</h4></div></a>
	{% if video %}
	{% for video in video %}
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading"><a href="/{{ video.categoria.slug }}/{{ video.id }}/{{ video.slug }}">{{ video.titulo }}</a></h3>
			<p>{{ video.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ video.fechacreado }}</b></span><br><a href="/autor/{{ video.autor }}/1/"><span>{{ video.autor.user.first_name }} {{ video.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>{% endif %}
<div class="flow">
	<a href="/{{ vidcategoria.slug }}/1/"><div class="alert alert-dismissible alert-success"><h4 class="text-left" data-toggle="tooltip" data-placement="bottom" title="Ver más de {{ vidcategoria.titulo }}">{{ vidcategoria.titulo }}</h4></div></a>
	{% if video %}
	{% for video in video %}
	<div class="media">
		<a class="pull-left" href="/autor/{{ video.autor }}/1/"><div class="avatar-60" style="background-image: url('/static/media/autor/{{ video.autor }}.jpg');"></div></a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/{{ video.categoria.slug }}/{{ video.id }}/{{ video.slug }}">{{ video.titulo }}</a></h4>
		</div>
		<div class="media-footer">
			<p>{{ video.contenido|truncatewords:"20" }}</p>
			<p class="small"><span><b>{{ video.fechacreado }}</b></span><br><a href="/autor/{{ video.autor }}/1/"><span>{{ video.autor.user.first_name }} {{ video.autor.user.last_name }}</span></a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<div class="padding-10"></div>
</div>